.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.upload-form {
  width: 400px;
}

.pageMargins {
  margin-top: 15px;
}

.listHeader {
  margin-top: 15px;
}

.bold-text {
  font-weight: bold;
}

.data-set-rows {
  height: 40px;
}

.pagination-wrapper {
  position: fixed;
  top: 810px;
}

.grid-basic-color {
  background-color: brown;
}

.grid-point-size-row {
  height: 30px;
  display: table;
}

.grid-point-size-column {
  width: 40px;
  height: 40px;
  background-color: lightgray;
}

.grid-x-axis-position {
  position: relative;
  left: 5px;
  display: inline-block;
  text-align: center;
  width: 40px;
}

.grid-x-axis-position-placeholder {
  display: inline-block;
  width: 10px;
}

.grid-y-padding {
  padding-right: 6px;
}

.axis-y-margin-small {
  padding-right: 14px;
}

.lost-grid-point {
  background-color: red;
}

.discovered-grid-point {
  background-color: green;
}

.menu-scroll {
  overflow-y: scroll;
  max-height: 180px;
}

.grid-position {
  display: grid;
  justify-content: center;
  width: 2080px;
  margin-left: -100px;
}

.robot-input-step {
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
